.center__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.center__wrap__te {
  font-size: 74px;
  color: #748ebc;
}

.center__wrap__ts {
  font-size: 16px;
  color: #748ebc;
}

.center__wrap__text {
  text-align: center;
  flex: 1;
}

.center__wrap__img {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.center__fame {
  width: 305px;
  position: absolute;
}

.center__fame__img {
  max-width: 100%;
  object-fit: cover;
}

.center__cake {
  width: 305px;
  margin: 55px 25px 0 0;
  position: relative;
}

.center__cake__img {
  max-width: 100%;
  object-fit: cover;
}

.center__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  max-width: 300px; /* или любое значение, которое вам подходит */
  margin: 0 auto; /* центрирование блока */

  border: 2px solid #748ebc; /* добавил толщину границы для лучшей видимости */
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 48px;
  color: white;
  background-color: #748ebc;
}
